/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    width: 40%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.form__title {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__input,
.form__select,
.form__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form__button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #45a049;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.message {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    color: green;
    text-align: center;
}